.page-numbers {
    list-style: none;
    display: inline-block;
    
}
.page-i {
    cursor:pointer;
    transition: background-color .3s;
    color:black;
}
.page-items:hover:not(.active) {background-color: grey;}



.select-item{
    background-color:tomato;
    color:white; 
}
